OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
VLLM_API_KEY=your_vllm_api_key_here

# vllm model
vllm_base_url=your_vllm_base_url_here

# weaviate api key 
search__api_weaviate__api_key=your_weaviate_api_key_here

# weaviate and neo4j urls (it has to be set twice, maybe i fix it one day)
search__api_weaviate__url=url_to_your_instance_here
VPS_IP=url_to_your_instance_here

# neo4j credentials
NEO4J_PASSWORD=your_neo4j_password_here
NEO4J_USER=your_neo4j_user_here

# Embedding model config
search__api_weaviate__embedding_port=port_to_embedding_service_here
search__api_weaviate__embedding_host=host_of_embedding_service_here
search__api_weaviate__embedding_api_key=your_embedding_service_api_key_here